@import "tailwindcss";

@theme {
  --color-darkgreen: #1f3c00;
  --color-darkblack: #040800;
  --color-offwhite: #f9f4d9;
  --spacing-container: 1400px;

  --animate-slider: slide 90s linear infinite;

  @keyframes slide {
    0% {
      left: 0;
    }

    100% {
      left: -100%;
    }
  }
}

html {
  position: relative;
}
